/*variable for background color*/
:root {
    --FONT:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    --BGCOLOR: rgb(247, 247, 222);
}

/* Styles for the body element */
body { 
    font-size: 2rem;
    line-height: 1.5;
    background-image:linear-gradient(var(--BGCOLOR),white); /* Background gradient */
    font-family: var(--FONT);
    color:rgba(0,0,0,1);
}

/* Styles for heading elements h2 and h3 */
h2, h3 {
    text-align:center;
}

/* Styles for elements with class "header" */
.header {
   font-style: italic;
   text-transform: capitalize; 
}

/* Styles for the figcaption element */
figcaption {
    font-size: 1rem;
    font-style: italic;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Styles for elements with class "title" */
.title {
    padding: 1.5rem;
    color: rgb(247, 247, 222);
    background-color: black;
    border: 2px solid black;
    border-radius: 200px;
}

/* Styles for elements with class "soul" */
.soul {
    border: 4px dashed red;
}

/* Styles for heading element h3 */
h3 {
    font-style: oblique;
}

/* Styles for anchor elements (links) */
a {
    text-decoration: underline;
    color: black;
}

/* Styles for anchor elements inside list items */
li a {
    font-weight: bold;
}

/* Styles for anchor elements on hover */
a:hover {
    color: rgb(234, 39, 39);
}

/* Styles for elements with class "head_list" */
.head_list {
    list-style-type: none;
}

/* Styles for elements with class "focus" */
.focus {
    list-style-image: url("../image/index.jpg"); /* List item marker image */
}

/* Styles for heading element h1, header, and header list items */
h1, header nav, header nav li {
    text-align: left;
    display: inline-block;
    margin-inline: 1rem;
}

/* Styles for video containers */
.video-container video {
    width: 100%;
    border-radius: 50%;
}

/* Styles for elements with class "image_privacy_1" */
.image_privacy_1 {
    float: left;
    margin: 1rem;
    clear: both;
}

/* Styles for elements with class "image_privacy_2" */
.image_privacy_2 {
    float: right;
    margin: 1rem;
    clear: both;
}

/* Styles for elements with class "Privacy" */
.Privacy {
    column-count: 3;
    column-width: 250px;
    column-rule: 2px solid black;
}

/* Styles for elements with class "quote" */
.quote {
    font-size: 4rem;
    font-style: italic;
    margin: 3rem;
    text-align: center;
    color: brown;
}

/* Styles for elements with class "social_1", "social_2", and "social_3" */
.social_1 {
    width: 50px;
    height: 50px;
    top: 300px;
    position: fixed;
    z-index: 1;
}

.social_2 {
    width: 50px;
    height: 50px;
    top: 350px;
    position: fixed;
    z-index: 1;
}

.social_3 {
    width: 50px;
    height: 50px;
    top: 400px;
    position: fixed;
    z-index: 1;
}

/* Styles for the HTML element */
html {
    scroll-behavior: smooth;
}

/* Styles for elements with class "container" */
.container {
    margin: 3rem;
    width: 100%;
    margin-inline: auto;
    display: flex;
    justify-content: center;
    gap: 4rem;
    flex-wrap: wrap;
    flex-direction: row;
}

/* Styles for elements with class "social_4", "social_5", and "social_6" */
.social_4 {
    min-width: 100px;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social_5 {
    min-width: 100px;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social_6 {
    min-width: 100px;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Style for the table */
.tableofcost {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}
  
/* Style for table header cells */
.tableofcost th {
background-color: #f2f2f2;
border: 1px solid #ccc;
padding: 8px;
text-align: left;
}
  
/* Style for table data cells */
.tableofcost td {
border: 1px solid #ccc;
padding: 8px;
text-align: left;
}
  
/* Alternate background color for rows */
.tableofcost tbody tr:nth-child(even) {
background-color: #f2f2f2;
}
  

/* Media query for screens with a maximum width of 1000 pixels */
@media screen and (max-width: 1000px) {
    body {
        background-image: linear-gradient(blueviolet, white); /* Updated background image */
    }
}
